<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::::::::: </title>
    <!--- 내부 방식 -->
    <style>
        h1 {
            background-color: red;
            color: white;

        }py
        a {
            color: rgb(255, 0, 0);
            background-color: rgb(38, 255, 0)

        }
    </style>
</head>
<body >
    
    <h1 > css test(내부방식 css 적용).<h1>
        <hr/>
        <p>
            html 코드 잘 실행됩니다,
        </p>
    <hr/>
    <p>데이터를 넣을 Eo : {{key1}}</p>
    <hr/>
    
    index : <a href="/index/"> [바로가기]<a/>
    <br>
    image : <a href="/front/" > [바로가기]<a/>
</body>
</html>