{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script>
        type='text/javascript'
        function na(x){
            location.href=x;
        }

    </script>

</head>
<body>
    <pre>
    *HTML : 웹페이지 구조물
    * 태그 시작과 끝이 있음 또는 시작과 끝이 하나인 태그도 있음
    * 보통 HTML 을 문서 도는 페이지 라고 칭합니다 
    </pre> 
    <hr>
    daum : <a href ="//daum.net"> [바로가기]</a>
    <br>
    daum : <a href ="javascript:location.href='//naver.com';"> [바로가기]</a>
    <br>
    daum : <a onclick="na('//google.com')"> [바로가기]</a>
    <br>
    <img src="{% static 'frontapp/images/asd.png' %}"
        onclick="na('/front/01_html/')"
        width="200"
        height="200">

    daum : <a href="#"> [바로가기]</a>

</body>
</html>