{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>div</title>
    <style>

        div{
            padding: 20px;
            margin: 20px;
        }
        div.d13{
            background-color: yellow;
            color:blue;
        }
        div.d24{
            background-color: blue;
            color:rgb(255, 255, 255);
           
        }
    </style>
    
    
</head>
<body>
    <h1>html -div 처리페이지</h1>
     <!--div
     블록태그로 주로 사용
     영영을 설정할뿐 특별한 내부 텍스트 처리기능 없음
     보톨레이어 구성시에 사용되는경우-->

    <hr>
    <div class ="d13">
        <h5>div블록테그</h5>
        <p>
            djang program is vary funny <br>
            so many code <br>
            you die
        </p>
    </div>

    <div class ="d24">
        <h5>div블록테그2</h5>
        <p>
            djang program is vary funny <br>
            so many code <br>
            you die
        </p>
    </div>
    <div class ="d13">
        <h5>div블록테그3</h5>
        <p>
            djang program is vary funny <br>
            so many code <br>
            you die
        </p>
    </div>
    <div class ="d24">
        <h5>div블록테그4</h5>
        <p>
            djang program is vary funny <br>
            so many code <br>
            you die
        </p>
    </div>
</body>
</html>