<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart_insert_form</title>
</head>
<body>
    <h1>cart_insert_form</h1>

    <form method="post" action="/second/cart_insert/">
        
        {% csrf_token %}
        <p> 회원아이디 : <input type="text" name="cart_member" required> </p>
        <p> 구매번호 : <input type="text" name="cart_no" required> </p>
        <p> 제품번호 : <input type="text" name="cart_prod" required> </p>
        <p> 구매수량 : <input type="text" name="cart_qty" required>  </p>

        <hr>
        <input type="button" value="뒤로가기" onclick="javascript:history.go(-1)">
        <input type="submit" value="저장하기" >

</form>
</body>
</html>