<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart_view</title>
    <script type="text/javascript">
        function golist(){
            location.href="/second/cart_list/"
        }
        function goupdate(cart_no,cart_prod){
            url="/second/cart_update_form/?"
            url+="cart_no="+cart_no
            url+="&cart_prod="+cart_prod
            location.href=url

        }

        function godelete(cart_no,cart_prod){
            url="/second/cart_delete/?"
            url+="cart_no="+cart_no
            url+="&cart_prod="+cart_prod
            location.href=url
        }
    </script>
</head>
<body>
    <h1>cart_view</h1>


    <p>회원아이디 : {{cart_member}} </p>
    <p>주문번호 : {{cart_no}}</p>
    <p>제품번호 : {{cart_prod}}</p>
    <p>구매수량 : {{cart_qty}}</p>
    <hr>
    <input type="button" value="목록가기" onclick="golist()">
    <input type="button" value="수정하기" onclick="goupdate('{{cart_no}}','{{cart_prod}}')">
    <input type="button" value="삭제하기" onclick="godelete('{{cart_no}}','{{cart_prod}}')">
</body>
</html>