<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>테입ㄹ 행단위 색 입히기2</title>
    <style>
        table{
            border-collapse: collapse;
            width: 100%;
        }
        th,td{
            padding: 8px;
            text-align: center;
        }
        /*tr 태그 영역에 특정행 올라갔을때 스타일지정*/

        tr:nth-child(even){
            background-color: rgb(81, 255, 0);
        }
    </style>
</head>
<body>
    <h3>데이블 행단위 샙 입 히 기 2 </h3>
    <hr>
    <table border="1">
    <tr>
        <th>번호</th>
        <th>이름</th>
        <th>주소</th>
    </tr>
    <tr>
        <th>1</th>
        <th>ap</th>
        <th>www</th>
    </tr>
    <tr>
        <th>2</th>
        <th>qp</th>
        <th>eee</th>
    </tr>
    <tr>
        <th>3</th>
        <th>wp</th>
        <th>qqq</th>
    </tr>
    <tr>
        <th>4</th>
        <th>ep</th>
        <th>xxx</th>
    </tr>
    

    </table>
</body>
</html>